/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Patrick+Hand+SC&display=swap');

/*asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    background-color: #bebebe;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3 {
    font-family: 'Patrick Hand SC', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000000;
}
p {
    font-family: 'Nunito', sans-serif;
}

/*header*/
header {
    background-color: #ffffff;
    position: absolute;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 150%;
    font-family: 'Patrick Hand SC', sans-serif;
    letter-spacing: 4px;
    list-style-type: none;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#menu li {
    margin-bottom: 1em;
}

/*Main*/

main {
/*Makes main element take up any surplus space to push down footer element*/
flex: 1 0 auto;
    margin-top: 16px;
}

/*Hero section*/
#hero {
    background: url(../the-discoverers-pics/pexels-yan-krukau-8613319.webp) no-repeat center center/cover;
    height: 800px;
    width: 100%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#cover-text {
    background-color: rgba(255, 255, 255, 0.763);
    font-size: 125%;
text-align:center;
    width: 20vw;
    height: 20vw;
    border-radius: 50% 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

#slogan {
    font-weight: bold;
}

#about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    padding-top: 35px 
}
#presentation {
width: 600px;
height: 450px;
background-color: rgba(255, 255, 255, 0.763);
border-radius: 10%;
text-align: center;
font-size: 125%;
padding: 35px 10px;
}

#staff-picture {
    display: flex;
    justify-content: center;
    height: 450px;
    width: 650px;
    position:relative;
    background: url(../the-discoverers-pics/pexels-fauxels-3184398.webp) no-repeat center center/cover;
    border-radius: 10%;
}

#staff-picture h2 {
    color:#ffffff;
    font-size: 175%;
}

#meetup {

}

#contact {

}

/*Footer*/
#social-media {
text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
#social-media i {
    font-size: xx-large;
}