/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Patrick+Hand+SC&display=swap');

/*asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}

/*General styles*/
body {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3 {
    font-family: 'Patrick Hand SC', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000000;
}
p {
    font-family: 'Nunito', sans-serif;
}

/*header*/
header {
    background-color: #ffffff;
    position: absolute;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 150%;
    padding-bottom: 15px;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu ul {
    font-size: 150%;
    font-family: 'Patrick Hand SC', sans-serif;
    letter-spacing: 4px;
    list-style-type: none;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



#logo {
    padding-left: 20px;
}

/*Main*/

main {
/*Makes main element take up any surplus space to push down footer element*/
flex: 1 0 auto;
    margin-top: 16px;
}

/*Hero section*/
#hero {
    background: url(../the-discoverers-pics/childrens-hands.webp) no-repeat center center/cover;
    height: 800px;
    width: 100%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#cover-text {
    background-color: rgba(255, 255, 255, 0.765);
    font-size: 115%;
text-align:center;
    width: 20vw;
    height: 20vw;
    border-radius: 50% 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

#slogan {
    font-weight: bold;
}

#about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    padding-top: 35px 
}
#presentation {
width: 600px;
height: 475px;
background-color: rgba(71, 192, 65, 0.632);
border-radius: 10%;
text-align: center;
font-size: 125%;
padding: 35px;
}

#staff-picture {
    display: flex;
    justify-content: center;
    height: 450px;
    width: 650px;
    position:relative;
    background: url(../the-discoverers-pics/staff-picture.webp) no-repeat center center/cover;
    border-radius: 10%;
}

#staff-picture h2 {
    color:#ffffff;
    font-size: 175%;
}

#activities {
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 35px;
}

#activities div {
    background-color: gold;
    border-radius: 10%;
    width: 600px;
    height: 400px;
    text-align: center;
    padding: 20px;
    font-size: 125%;
}

#activities ul {
    list-style-type: none;
}

#meetup {
display: flex;
flex-direction: row;
justify-content: space-evenly;
padding-top: 35px;
}

.meetup-times {
    font-size: 125%;
    text-align: center;
    background-color: #39b5dbbd;
    width: 350px;
    height: 225px;
    border-radius: 10%;
    padding: 20px;
}

#contact > div {
text-align: center;
display: flex;
flex-direction: row;
justify-content: space-evenly;
    height: 150px;
    width:100%;
    margin-bottom: 50px;
    margin-top: 45px;
}

.contact-information div {
    background-color: #ffffff;
    font-size: 125%;
    border-radius: 15%;
    width: 265px;
    height: 100px;
    padding: 10px;

}

/*Gallery page*/

#gallery {
    margin-top: 63px;
}

.photos {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    }

/*Sign up page*/

#signup-page {
    /*Makes main element take up any surplus space to push down footer element*/
flex: 1 0 auto;
margin-top: 75px;
display:flex;
flex-direction: column;


}

#signup {
    background: url('../the-discoverers-pics/pexels-pavel-danilyuk-8422173.webp');
    background-size: cover;
    background-position: 75%;
    flex-grow: 1;
   padding: 20px 10% 20px 10%;
   display: flex;
   justify-content: center;
}

#signup-form {
    font-family: 'Patrick Hand SC', sans-serif;
    font-size: 110%;
    background-color: rgb(255, 217, 0, 75%);
    padding: 30px;
    text-align: center;
    border-radius: 25%;
    width: 600px;
    display:flex;
    justify-content: center;
}

.text-input {
    width: 100%;
    height: 25px;
    border: 2px solid black;
    border-radius: 2px;
    margin: 5px 0 20px 0;
    padding: 0 5px;
 }

 .join {
    font-family: 'Patrick Hand SC', sans-serif;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    width: 100px;
    border: 3px solid black;
    border-radius: 5px;
 }

#form-paragraph {
    text-align: end;
    font-size: small;
    font-weight: bold;
}

#thankyou-page {
    background: url('../the-discoverers-pics/pexels-pavel-danilyuk-8422173.webp');
    background-size: cover;
    background-position: 75%;
    flex-grow: 1;
   padding: 20px 10% 20px 10%;
}

#thankyou {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: xx-large;
    margin-top: 200px;
    background-color: rgb(255, 217, 0, 75%);
    padding: 30px;
    border-radius: 25%;
    font-family: 'Nunito', sans-serif;
}


/*Footer*/


#social-media {
text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
#social-media i {
    font-size: xx-large;
}