/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Patrick+Hand+SC&display=swap');

/*asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width:100%;
}

/*General styles*/
body {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3 {
    font-family: 'Patrick Hand SC', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000000;
}
p {
    font-family: 'Nunito', sans-serif;
}

/*header*/
header {
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 150%;
    padding-top: 10px;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu ul {
    font-size: 80%;
    font-family: 'Patrick Hand SC', sans-serif;
    letter-spacing: 4px;
    list-style-type: none;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

li {
    margin-left: 20px;
    margin-right: 20px;
}



#logo {
    padding-left: 20px;
}

/*Main*/

main {
/*Makes main element take up any surplus space to push down footer element*/
flex: 1 0 auto;
    margin-top: 80px;
}

/*Hero section*/
#hero {
    background: url(../pictures/childrens-hands.webp) no-repeat center center/cover;
    height: 800px;
    width: 100%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cover-text {
    background-color: rgba(255, 255, 255, 0.765);
    font-size: 115%;
text-align:center;
    width: 30vw;
    height: 30vw;
    border-radius: 50% 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

#slogan {
    font-weight: bold;
}

/*Presentation section*/
#about {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 25px;
}
#presentation {
width: 600px;
height: 550px;
background-color: rgba(71, 192, 65, 0.632);
border-radius: 10%;
text-align: center;
font-size: 125%;
padding: 20px;
}

#staff-picture {
    max-height: auto;
    width: 50%;
    position:relative;
    background: url(../pictures/staff-picture.webp) no-repeat center center/cover;
    border-radius: 10%;
    padding: 20px;
}

#staff-picture h2 {
    color:#ffffff;
    font-size: 175%;
}

/*Activities section*/
#activities {
    display:flex;
    flex-direction: auto;
    justify-content: center;
    margin-top: 25px;
}

#activities div {
    background-color: gold;
    border-radius: 10%;
    width: 600px;
    height: 400px;
    text-align: center;
    padding: 20px;
    font-size: 125%;
}

#activities ul {
    list-style-type: none;
}

/*Meet up times section*/
#meetup {
display: flex;
flex-direction: row;
justify-content: space-evenly;
margin-top: 25px;
}

.meetup-times {
    font-size: 125%;
    text-align: center;
    background-color: #39b5dbbd;
    width: 350px;
    height: 225px;
    border-radius: 10%;
    padding: 20px;
}

/*Contact section*/

#contact > div {
text-align: center;
display: flex;
flex-direction: row;
justify-content: space-evenly;
    height: 150px;
    width:100%;
    margin-bottom: 20px;
    margin-top: 45px;
}

.contact-information div {
    background-color: #ffffff;
    font-size: 125%;
    border-radius: 15%;
    width: 265px;
    height: 100px;
    padding: 10px;
}

/*Gallery page*/

.hidden-heading {
    display:none;
}

#gallery {
    display: grid;
    grid-template-rows: repeat 1fr;
    row-gap: 10px;
    margin-inline-end: 10px;
    max-width:100%;
    max-height:100%;    
    }

/*Sign up page*/

#signup-page {
display:flex;
flex-direction: column;
}

#signup {
    background: url('../pictures/form-image.webp') no-repeat center center/cover;
    background-size: cover;
    background-position: 75%;
    flex-grow: 1;
   padding: 20px 10% 20px 10%;
   display: flex;
   justify-content: center;
}

#signup-form {
    font-family: 'Patrick Hand SC', sans-serif;
    font-size: 110%;
    background-color: rgb(255, 217, 0, 75%);
    padding: 30px;
    text-align: center;
    border-radius: 25%;
    width: 600px;
    display:flex;
    justify-content: center;
}

.text-input {
    width: 100%;
    height: 25px;
    border: 2px solid black;
    border-radius: 2px;
    margin: 5px 0 20px 0;
    padding: 0 5px;
 }

 .join {
    font-family: 'Patrick Hand SC', sans-serif;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    width: 100px;
    border: 3px solid black;
    border-radius: 5px;
 }

#form-paragraph {
    text-align: end;
    font-size: small;
    font-weight: bold;
}

#thankyou-page {
    background: url('../pictures/form-image.webp') no-repeat center center/cover;
    background-size: cover;
    background-position: 75%;
   padding: 20px 10% 20px 10%;
}

#thankyou {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: xx-large;
    background-color: rgb(255, 217, 0, 75%);
    padding: 30px;
    border-radius: 25%;
    font-family: 'Nunito', sans-serif;
}


/*Footer*/


#social-media {
text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
#social-media i {
    font-size: xx-large;
}

/*Media query for small phones*/
@media screen and (min-width:320px) {

    /*Header*/
    h1 {
        font-size: 60%;
    }
#menu {
    font-size: x-small;
}

#menu ul {
    display: flex;
    flex-direction: column;
}

li {
    margin-top: 3px;
    margin-bottom: 3px;
}
    /*Main*/

    main {
        margin-left: 15px;
        margin-right: 15px;
    }
/*Hero section*/
   #hero {
        height: 500px;
        max-width: 100%;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #cover-text {
        font-size: 75%;
        display: flex;
        flex-direction: column;
        height: 60vw;
        width: 60vw;
}
/*About section*/
#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#presentation {
    width: 290px ;
    height: 350px;
    font-size: 75%;
    }

    #presentation h3 {
        font-size: 70%;
    }

    #staff-picture {
        height: 200px;
        width: 100%;
        margin-top: 25px;
        padding:2px;
    }

    #staff-picture h2 {
        font-size: 70%;
    text-align:center;    
    }

    /*Activities container*/
    #activities div {
        width: 550px;
        height: 350px;
        text-align: center;
        font-size: 87%;
    }

    #meetup {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        }
        
        .meetup-times {
            font-size: 80%;
            width: 290px;
            height: 150px;
            padding: 20px;
            margin-bottom: 20px;
        }

/*Contact section*/

#contact > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        height: 150px;
        width:100%;
        margin-bottom: 35px;
        margin-top: 25px;
    }
    
    .contact-information div {
        font-size: 80%;
        width: 260px;
        height: 100px;
        padding: 10px;
    
    }

    /*Gallery page*/

    .photos {
        display:flex;
        flex-direction:column;
        justify-content: center;
        width:100%;
        height:100%;
        }

        /*Sign up page*/

        #signup-form {
            font-size: 75%;
            padding: 15px;
            text-align: center;
            border-radius: 25%;
            width: 300px;
            height:550px;
            display:flex;
            justify-content: center;
        }

        #signup-form h2 {
            font-size: 85%;
        }

        .text-input {
            width: 80%;
            height: 15px;
            border: 2px solid black;
            border-radius: 2px;
            margin: 2px 0 8px 0;
         }
        
         .join {
            font-weight: bold;
            font-size: medium;
            text-align: center;
            width: 70px;
            border: 2px solid black;
            border-radius: 5px;
         }
        
        #form-paragraph {
            text-align: center;
            font-size: xx-small;
            font-weight: bold;
        }

        /*Thank you page*/

        #thankyou {
            font-size: large;
            width: 100%;
            margin-bottom: 20px;
        }

/*Footer*/
#social-media i {
    font-size: large;
}

/*Media query for large or landscape phones*/
@media screen and (min-width:768px) {
    
        /*Header*/
        h1 {
            font-size: xx-large;
        }
    #menu {
        font-size: medium;
    }
    
    #menu ul {
        display: flex;
        flex-direction: row;
    }
    
    #cover-text {
        font-size: 75%;
        width: 25vw;
        height: 25vw;
        padding: 10px;
        display: flex;
        flex-direction: column;
}

/*About section*/
#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#presentation {
    width: 370px;
    height: 450px;
    font-size: medium;
    }

    #presentation h3 {
        font-size: 100%;
    }

    #staff-picture {
        height: 450px;
        width: 85%;
    }

    #staff-picture h2 {
        font-size: x-large;
    text-align:center;    
    }

        /*Activities container*/
        #activities div {
            width: 550px;
            height: 300px;
            text-align: center;
            font-size: 100%;
        }
    
        #meetup {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-top: 20px;
            }
            
            .meetup-times {
                font-size: 100%;
                width: 290px;
                height: 200px;
                padding: 20px;
                margin-bottom: 20px;
            }

/*Contact section*/

#contact > div {
    display: flex;
    flex-direction: row;
        height: 100px;
        width:100%;
        margin-bottom: 15px;
        margin-top: 25px;
    }
    
    .contact-information div {
        font-size: 100%;
        width: 260px;
        height: 100px;
        padding: 10px;
    
    }

    /*Gallery page*/

.photos {
    margin-bottom: 25px;
   column-count: 3;
   column-gap: 0;
}

/*Sign up page*/

#signup h2 {
font-size: 110%;
}

#signup label {
    font-size: 110%;
}

/*Thank you page*/

#thankyou-page {
    display:flex;
    align-items: center;
margin-bottom: 25px;
background-position: center;
}

    /*Footer*/
    #social-media i {
        font-size: xx-large;
    }

    /*Large media devices (laptops and desktops 992px or larger)*/
    @media screen and (min-width:992px) {

        #about {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 25px;
        }
      
    }